*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
header,
main,
aside,
footer,
h1,
h3,
p {
    margin: 0;
}


header {
    background-color: lightblue;
    padding: 10px 20px;
}

h1::before {
    content: "<";
    color: lightslategray;
}

h1::after {
    content: ">";
    color: lightslategray;
}

main {
    background-color: lightcoral;
    padding: 10px 20px;
    width: 400px;
    float: left;

}

aside {
    background-color: lightgreen;
    padding: 10px 20px;
    width: 200px;
    float: left;

}

footer {
    background-color: lightsalmon;
    padding: 10px 20px;
    clear: both;
}

