*,
*::before,
*::after {
    box-sizing: border-box;
}

body { margin: 0; }

.box-0 {
    position: relative;

        
    top: 20px;
    left: 20px;
    
    width: 400px;
    height: 300px;
    
    background-color: #a81111;
}

.box-1 {
    position: relative;

    bottom: -20px;
    
    background-color: lime;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
.box-2 {
    position: absolute;
    
    top: 50px;
    left: 50px;
    
    width: 90%;

    background-color: aqua;
    border: 1px solid black;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}




















